* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f4f4f9;
    color: #333;
}

.container {
    background-color: white;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav h1 {
    color: #54ccf8;
    margin-left: 10px;
}

nav h3 {
    color: #333;
}

.header {
    filter: grayscale(50%);
    min-height: 27rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-image: url('https://images.unsplash.com/photo-1516251193007-45ef944ab0c6?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDJ8fG5hdnxlbnwwfHx8fDE2NjgxMzk5NzY&ixlib=rb-1.2.1&q=80&w=1080');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}

.user-info {
    display: flex;
    align-items: center;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}


.main-container {
    padding: 2%;
}

.heading {
    font-weight: 800;
    margin-bottom: 3%;
    color: #54ccf8;
    text-align: center;
}

.courses {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
}

.course {
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding-bottom: 5%;
}

.course img {
    max-width: 100px;
    transition: transform 0.3s ease;
}

.course:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.course:hover img {
    transform: scale(1.05);
}

.text {
    padding: 15px;
}

.text h2 {
    font-weight: 600;
    margin-bottom: 10px;
}

.text h4 {
    margin-bottom: 8px;
    font-weight: 500;
    color: #666;
}

.text p {
    margin-bottom: 10px;
    color: #555;
}

.text .price {
    font-weight: 500;
    color: #54ccf8;
    margin-top: 10px;
    margin-bottom: 8%;
}
.watch-btn{
    border-radius: 25px;
    background-color: #54ccf8;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
}

.quiz {
    margin: 5% auto;
    max-width: 600px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.heading {
    text-align: center;
    color: #54ccf8;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.user-details {
    display: flex;
    align-items: center;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.userName {
    font-size: 1.2em;
    color: #333;
}

.quiz-btn {
    background-color: #54ccf8;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.quiz-btn:hover {
    background-color: #46b1d8;
}

.score {
    flex-basis: 100%;
    text-align: center;
    margin-top: 20px;
}

.score h3 {
    color: #333;
    font-weight: normal;
}